<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans 
   http://www.springframework.org/schema/beans/spring-beans.xsd">

   <!-- 기본형 멤버 값 지정하는 방식 (1)생성자의 인자로 지정 -->
   <bean id="member1" class="ex1_xml2_ref.MemberBean">
      <constructor-arg value="홍동우" />
      <constructor-arg value="20" type="int" />
      <constructor-arg>
         <value> 안녕하세요~ </value>
      </constructor-arg>
   </bean>
   
   <!-- (2) setter함수 이용 -->
   <bean id="member2" class="ex1_xml2_ref.MemberBean">
      <property name="name" value="홍길순"></property>
      <property name="age"><value> 20 </value></property>
      <property name="message" value="오늘도 즐겁게!!" />
   </bean>

   <!--2. 참조형 멤버 값 지정하는 방식 (1) 생성자의 인자로 지정 -->
   <bean id="dao1" class="ex1_xml2_ref.MemberDao">
      <constructor-arg ref="member1"></constructor-arg>
   </bean>
   
   <!-- (2) setter함수 이용 -->
   <bean id="dao2" class="ex1_xml2_ref.MemberDao">
      <property name="member" ref="member2"></property>
   </bean>

</beans>