<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


<!-- xml 기반 객체 생성 -->
<!--    <bean id="member1" class="ex1_xml2_ref.MemberBean">
      <constructor-arg value="홍동우" />
      <constructor-arg value="20" type="int" />
      <constructor-arg>
         <value> 안녕하세요~ </value>
      </constructor-arg>
   </bean> -->

<!-- Namespace에서  context 추가 -->
<context:component-scan base-package="ex2_annotation"/>



   
   </beans>